<html>
    <head>
	<title>Foo</title>
    </head>
    <body>
	<h3>
	    <a href="{{ url_for('home') }}">Example</a>
	</h3>


	<form action="{{ request.path }}" method="post">
	    Name:<br>
	    <input type="text" name="name"><br>
	    City:<br>
	    <input type="text" name="city"><br>
	    Address:<br>
	    <input type="text" name="addr"><br>
	    <input type="submit" value="Submit">
	</form>


	<table>
	    <thead>
		<tr>
		    <th>Name</th>
		    <th>City</th>
		    <th>Address</th>
		</tr>
	    </thead>

	    <tbody>
	    {% for student in students %}
		<tr>
		    <td>{{ student.name }}</td>
		    <td>{{ student.city }}</td>
		    <td>{{ student.addr }}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>


    </body>
</html>
