<html>
    <head>
	<title>Foo</title>
    </head>
    <body>
	<h3>
	    <a href="{{ url_for('home') }}">Example</a>
	</h3>


	<form action="{{ request.path }}" method="post">
	     id:<br>
	    <input type="text" name="id"><br>
	    name:<br>
	    <input type="text" name="name"><br>
	    symbol:<br>
	    <input type="text" name="symbol"><br>
	    platforms:<br>
	    <input type="text" name="platforms"><br>
	    contract:<br>
	    <input type="text" name="contract"><br>
	    <input type="submit" value="Submit">
	</form>


	<table>
	    <thead>
		<tr>
		    <th>id</th>
		    <th>name</th>
                    <th>symbol</th>
		    <th>platforms</th>
		    <th>contract</th>
		</tr>
	    </thead>

	    <tbody>
	    {% for ap in students %}
		<tr>
		    <td>{{ ap.id }}</td>
		    <td>{{ ap.name }}</td>
		    <td>{{ ap.symbol }}</td>
		    <td>{{ ap.platforms }}</td>
		    <td>{{ ap.contract }}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>


    </body>
</html>
